@import 'custom';
html { height: 100vh; }
body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main {
    flex-grow: 1;
    position:relative;
}
header, main, footer {
    flex-shrink: 0;
}

.main-container {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 990px) {
    .main-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

header, footer {
    background: #222;
    color: #fff;
    padding: 1.5rem 0;
}

.canvas-container {
    text-align: center;
}

.canvas-wrapper {
    display: inline-block;
    background-color: #fff;
}

// Range Slider
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .split {
      display: flex;
  }
  .split > div {
      width: 50%;
  }
